* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/img4.jpg');
    background-size: cover;
}

header, footer {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional background for header/footer */
    color: white;
}

.center-wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-grow: 1; /* Take up available space between header and footer */
}

.feedback-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

.feedback-container label {
    font-weight: bold;
}

.feedback-container textarea,
.feedback-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.feedback-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.feedback-container button:hover {
    background-color: #218838;
}
