/*footer css */

footer {
    background-color: #1c1c1c;
    color: white;
    padding: 0.5%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-size: 17px;
}

footer h4{
    font-size: 20px;
    text-align: left;
}

.section1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.details{
    width:fit-content;
    height: 120px;
    gap: 20px;
    display:flex;
    margin-right: 3%;
    margin-top: 3%;
}

.social-media {
    width: fit-content;
    height: 120px;
    margin-right: 3%;
    margin-top: 3%;
}

.social-media a {
    text-decoration: none;
    color: black;
}

.social-media a:hover {
    border-bottom: 1px solid #971717;
}



.subscribe-section {
    width: fit-content;
    height: 120px;
    margin-top: 3%;
}

#subscribeForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#subscribeEmail {
    padding: 4%;
    width: 200px;
}

.subscribe-btn {
    padding: 3px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-left: 4%;
}

.subscribe-btn:hover {
    background: #2691d9;
    color: #e9f4fb;
    transition: 0.5s;
}

hr {
    background-color: white;
    height: 1px;
    border: none;
}

.footer-links {
    text-align: left;
	margin-right:3%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-links ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    border-bottom: 1px solid white;
}

.rights {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}