.profile {
    float: right;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #56565653;
}

table tr {
    background-color: rgb(252, 246, 225); 
}


/* Common styles for both buttons */
.edit-btn, .delete-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

/* Style for the Update button */
.edit-btn {
    background-color: #4CAF50; /* Green color for the Update button */
    color: white;
}

.edit-btn:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

/* Style for the Delete button */
.delete-btn {
    background-color: #cc0101; /* Red color for the Delete button */
    color: white;
}

.delete-btn:hover {
    background-color: white;
    color: #cc0101;
    border: 2px solid #cc0101;
}
